<div class="top">
    <h1 class="top-heading">프로젝트 내용</h1>
    <p class="top-body">웹앱 프로그래밍 과제 제출을 위하여 작성함</p>
    <p class="top-body"><strong>주요 기능</strong></p>
    <p class="top-body" ><strong>1. Home, About 페이지를 들어갈 수 있습니다.</strong></p>
    <p class="top-body">1-1. Home 페이지에서는 작성된 전체 게시물을 확인할 수 있습니다.</p>
    <p class="top-body">1-2. About 페이지에서는 프로젝트 내용 및 기능들을 확인할 수 있습니다.</p>
    <br>
    <p class="top-body"><strong>2. 관리자 로그인을 통해 추가적인 작업을 할 수 있습니다.</strong></p>
    <p class="top-body">2-1. 관리자 로그인을 통해 게시물을 수정,작성,삭제 할 수 있습니다.</p>
    <p class="top-body">2-2. 관리자 등록이 필요하다면 등록 버튼을 눌러 관리자 등록이 가능합니다.</p>
  </div>

<img src="/img/img2.jpg" alt="imgtest" class="hero-image" width="840" height="400">
<p style="text-align: right;">@made by Kang Chang Seon</p>